.RecommendationContent {
    border-bottom: 2px solid $c-pink-dark;
    margin: 3rem 0 4rem 0;
    padding: 1rem 0rem 0rem 0rem;
    overflow: hidden; /* Ensure no overflow-y */
}

.RecommendationsList {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 2rem;
    margin-bottom: 0;
    list-style-type: none;
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.RecommendationItem {
    width: calc(49% - 2rem);
    flex: 0 0 auto;
    scroll-snap-align: start;
}

.Logo {
    height: auto;
    font-size: 10rem;
    margin-bottom: 2rem;
}

.RecommendationHeading {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    .RecommendationContent {
        margin: 1rem 0 2rem 0;
        padding: 1rem 0rem 0rem 0rem;
    }
    
    .RecommendationsList {
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding-bottom: 2rem;
        margin-bottom: 0;
        list-style-type: none;
    }

    .RecommendationItem {
        width: calc(95% - 2rem);
        flex: 0 0 auto;
        scroll-snap-align: start;
    }
  }